* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

/* ========================= Header ============================= */

/* ================= Intro ===================== */

#intro-div {
  position: relative;
  margin-bottom: 50px;
  
}

#intro-div img {
  width: 100%;
  height: 100%;
}




/* ================= Contents ===================== */
#content-div {
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px 50px 100px 50px;
}
.info-div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: white;
  transition: 0.5s all;
}
.info-div:hover {
  transform: scale(1.1);
}
.info-div img {
  width: 100%;
  height: 100%;
}
.info-div h3 {
  font-size: 30px;
}
.info-div p {
  margin-top: 20px;
}





/* ================= Our Team ===================== */
#our-team-titil {
  margin-top: 100px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #000000, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#our-team-div {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
  margin-bottom: 100px;
}
.member-div {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  background-color: white;
  gap: 10px;
}
.member-div div {
  /* width: 100%; */
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
}
#hasan-profile {
  position: relative;
  top: -80px;
  left: -85px;
  width: 180%;
  height: 180%;
}
#royan-profile {
  position: relative;
  top: 0px;
  left: -150px;
  width: 200%;
  height: 200%;
}
#osama-profile {
  position: relative;
  top: -20px;
  left: -100px;
  width: 180%;
  height: 180%;
}
#adel-profile {
  position: relative;
  top: -50px;
  left: -200px;
  width: 220%;
  height: 220%;
}
#nour-profile {
  position: relative;
  width: 100%;
  height: 100%;
}
.member-div p {
  font-weight: bold;
  font-size: 25px;
}
.member-div ul {
  margin: 10px;
  padding-left: 0px;
  display: flex;
  list-style: none;
}





/* ======================== Our Partners ====================== */

#our-partners-div h3 {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  background: linear-gradient(to bottom, #ffffff, #182848);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#our-partners-div img {
  width: 100%;
}





/* ========================= Footer ============================= */
#footer {
  background-color: #222222;
}
/* ----------------------------------- */
#top-container{
  display: flex;
  justify-content: space-between;
}

/* -------------------- */
#contact-us-container{
  display: block;
}

#support-title {
  margin: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe Print";
}

#support-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

#email-support-container{
  margin-left: 10px;
}

#email-title {
  color: #ffffff;
  font-size: 20px;
  font-family: "Segoe Print";
  margin-left: 10px;
}

#email-support-link {
  text-decoration: none;
  color: #c91414;
  margin-left: 10px;
  font-family: "Segoe Print";
  transition: 0.5s all;
}
#email-support-link:hover {
  color: rgb(0, 0, 196);
}

#genral-info-container {
  margin: 10px;
}

.info-title {
  margin-bottom: 3px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Centaur";
}

/* -------------------- */

#follow-us-title {
  margin: 10px;
  color: white;
  font-size: 30px;
  font-family: "Segoe Print";
}

#social-media-links {
  margin: 10px;
  padding-left: 0px;
  display: flex;
  list-style: none;
}
.link {
  transition: 0.5s all;
}
.link:hover {
  transform: scale(0.8);
  transition: 0.5s all;
}



/* -------------------------------------- */
#down-container{
  border-top: 2px #c91414 solid;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#h5-footer {
  color: white;
  padding-top: 5px;
}

#turbostore-footer-span {
  font-family: "Bauhaus 93";
  font-weight: 500;
}

#tu-footer-span {
  color: #c91414;
}








/* ============== log in ================== */
.login {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 789px;
  position: relative;
  background-image: linear-gradient(to bottom,#222222,#9b1010);
}
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  width: 400px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background-image: url(/Images/Home/BMW\ Group.jpg);
  background-size: cover;
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background-image: url(/Images/Home/Audi\ Group.jpg);
  background-size: cover;
  right: -30px;
  bottom: -80px;
}

form {
  height: 550px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
@media (max-width: 400px) {
  form {
    width: 100%;
  }
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  text-align: center;
  margin-top: 30px;
  height: 100px;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  margin-left: 20px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .back {
  margin: 10px auto;
}
.social .error {
  margin: 10px auto;
}